.pagos{
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center ;
    margin-top: 25px;
}

.MasterCard{
    width: 35px;
    height: 25px;
}

.Visa{
    width: 40px;
    height: 25px;
}

.Oca{
    width: 40px;
    height: 40px;
}

.AE{
    width: 50px;
    height: 40px;
}

.Paypal{
    width: 60px;
}