.orderContainer{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    width: 700px;
    box-shadow: 0px 0px 3px black;
}

.detallesBoton{
    width: 30px;
    align-self: center;
    justify-self: end;
    margin-right: 10px;
    color:#f0eded;
    border:#2780c0 1px solid;
    background-color: #2780c0;
    font-weight:600;
    height: 30px;
    border-radius: 3px;
}

.detallesBoton:hover{
    filter: brightness(110%);
    cursor: pointer;
}

.orderNum{
    margin-left: 40px;
}

@media (max-width:720px){
    .orderContainer{
        width: 520px;
    }
}