*{
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:#2780c0;
}
.principalDiv{
  display: flex;
  flex-direction: column;
}

main{
  background-color: #f3f3ee;
  min-height: 90vh;
}


.catMenu{
  position: absolute;
  list-style:none;
  background-color: rgba(51,51,51,.9);
  width: 150px;
}

.catMenu li{
  padding-left: 10px;
}

.catMenu li:hover{
  background-color: #2780c0;
  color:aliceblue;
}


.catMenuParent:hover{
  color:aliceblue;
}

.fixHover{
  display: grid;
  height: 40px;
}

.fixHover:hover{
  color:#D74E09;
}

main{
  display: grid;
  justify-items: center;
  font-family: 'Righteous', cursive;
}

.user_menu{
  position: absolute;
  list-style-type: none;
  margin-top: 124px;
  background-color: rgba(51,51,51,.9);
  width: 150px;
  display: grid;
  justify-content: center;
  color:aliceblue;}

  .user_menu li{
    width: 100%;
    display: grid;
    justify-content: center;
  }

.user_menu li:hover{
  background-color: #2780c0;
  cursor:pointer;
  }

.user_menu:hover li{
  color:aliceblue;

}